"*":
  "atom-material-ui":
    compactTreeView: true
    useRoboto: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-todo"
    ]
    excludeVcsIgnoredPaths: true
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/home/mbaxa/git"
  editor:
    fontFamily: "Roboto Mono"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "file-icons": {}
  "flex-tool-bar": {}
  "imdone-atom": {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tool-bar":
    iconSize: "16px"
  "tree-view": {}
  welcome:
    showOnStartup: false
