"*":
  editor:
    showIndentGuide: true
    invisibles: {}
    showInvisibles: true
    fontFamily: "Roboto Mono"
    fontSize: 15
  core:
    excludeVcsIgnoredPaths: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-todo"
    ]
    projectHome: "/home/mbaxa/git"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "tree-view": {}
  "atom-material-ui":
    useRoboto: true
    compactTreeView: true
  "imdone-atom": {}
  "file-icons": {}
