'.text.plain':
  'List of lnk-deb servers':
    'prefix': 'lnk-deb'
    'body': '* lnk-deb-crd-001\n* lnk-deb-cnf-001\n* lnk-deb-dig-001\n* lnk-deb-jir-001\n* lnk-deb-jnk-00[12]\n* lnk-deb-mys-001\n* lnk-deb-svn-001'
  'DSA Update format':
    'prefix': 'dsa'
    'body': """
    [DSA $1] $2 ($3)
    $0
    """
